# Cache
.rpt2_cache/
*.tsbuildinfo

# Build output
dist/

# Logs
*.log
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# Common toolchain intermediate files
temp
